<%= form_for(@wiki) do |f| %>
  <% if @wiki.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wiki.errors.count, "error") %> prohibited this wiki from being saved:</h2>
      <ul>
      <% @wiki.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control', placeholder: "Enter post title." %>

  <%= f.label :body %>
  <%= f.text_area :body, class: 'form-control', rows: 8, placehodler: "Enter post body." %>
  <div class="actions">
    
  <% if current_user.admin? || current_user.premium? %>
    <div class="form-group">
      <%= f.label :private, class: 'checkbox' do %>
        <%= f.check_box :private %><span class="checkbox-label">Private wiki</span>
      <% end %>
    </div>
  <% end %>
    <%= f.submit %>
  </div>
<% end %>
