<div class="wiki-index"><p id="notice"><%= notice %></p>

  <h1>Listing Wikis</h1>
  
  <table>
    <tbody>
      <% @wikis.each do |wiki| %>
  
          <tr>
            <td><h2><%= wiki.title %></h2></td>
          </tr>
          <tr>
            <td><p><%= wiki.body %></p></td>
          </tr>
          <tr>
            <% if current_user && (current_user.id == wiki.user_id || wiki.users.include?(current_user.id)) %>
              <td><%= link_to 'Edit', edit_wiki_path(wiki) %></td>
              <td><%= link_to 'Destroy', wiki, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>
